body {
  background-color: #282c34;
  display: flex;
  justify-content: center;
}


.header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 200px;
  width: 1000px;
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
} 



.section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  color: white;
} 

.image {
  width: 200px;
  height: 200px;
}

.articles {
  color: black;
  display: flex;
  flex-wrap: wrap;
  color: white;
  text-align: center;
}

.article {
  margin: 10px;
}


.creature {
  /* background-color: #282c34;
  color: white;
  width: 200px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px; */
}

/* .item {
  display: flex;
  align-items: center;
  justify-content: center;
} */
